
<!-- Footer-->
  <footer class="footer py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 text-lg-left">{% now "Y" %}©Priority Performance Projects</div>
        <div class="col-lg-4 my-3 my-lg-0">
          <a class="btn btn-light btn-social mx-2" href="https://twitter.com/AwardAGenius" 
              style="background:#1da1f2;color: #f8f9fa;"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-light btn-social mx-2" href="https://www.instagram.com/africangeniusawards/"
              style="background: linear-gradient(45deg, #c52958, transparent);;color: #f8f9fa;"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-light btn-social mx-2" href="https://www.facebook.com/AfricanGeniusAwards/"
              style="background:#3b5998;color: #f8f9fa"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-light btn-social mx-2" href="https://youtube.com/channel/UCYcAowafGLVQgLlpE0Zwkpg"
              style="background:#ff0400;color: #f8f9fa"><i class="fab fa-youtube"></i></a>
             
          
        </div>
        
      </div>
    </div>

  </footer>
